@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
	scroll-behavior: smooth;
}
body {
  height: 100%;
  color: white;
  font-family: 'Bebas Neue Bold', 'Bebas Neue', sans-serif;
}

/* FONDO PANTALLA */
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  /* background-image: url('https://hi-sports.tv/media/fondoCamara.jpg'); */
  background-image:  url("https://hi-sports.tv/media/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.background-image::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* background:rgba(245, 198, 255, 0.136); */
  z-index:-1;
}


/* NAVBAR */
.logoHeader{
  width: 20%;
  margin-top: 2.2em;
}
.fondoNav{
  background-color: transparent;
  
}
.itemNavBar{
  color: white;
  text-align: center;
}


/* CONTENT */
.titleContent{
  font-size: 25px;
  color: #ffee92;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
	-webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.marginHome{
  padding-top: 20vh;
}

.en-vivo-icon {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 90%;
  font-weight: bold;
}


/* BOTON INICIO */
.botonInicio{
  background-image: linear-gradient(to right, #014aad , #ca6ce6) !important;
  border-color: #13022e !important;
  color: white !important;
  font-size: 2em !important;
  height: 2em !important;
  border-radius: 2em !important;
}
.botonInicio:hover {
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 800%;
  }
}
.botonInicio:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, #014aad, #ca6ce6, #ca6ce6, #014aad);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5%;
}
.botonInicio:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}


/* LOGO DE REDES SOCIALES */
.logoRedes{
  height: 100%;
  text-align: center;
}


/* PROGRAMACION */
.imgTable{
  width: 50px;
}
.cardEffect:hover {
	-webkit-box-shadow: 0px 0px 41px 0px rgba(202,108,230,0.75);
  -moz-box-shadow: 0px 0px 41px 0px rgba(202,108,230,0.75);
  box-shadow: 0px 0px 41px 0px rgba(202,108,230,0.75);
}
.imgCarousel{
  height: 100%;
}
.fullWidth{
  width: 100%;
}
.columnist{
  height: 12em;
}

.zoom {
  transition: transform .2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* VISTA DESDE CELULAR */
@media only screen and (max-width: 1100px) {
  .titleContent{
    font-size: 4em;
  }
  .marginHome{
    padding-top: 18em;
  }
  .logoHeader{
    width: 25%;
    margin-top: 0em;
  }
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.vertical-text2 {
  writing-mode: vertical-rl;
  transform: rotate(-90deg);
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.redondo{
  border-radius: 2em;
}

.transition-height {
  transition: height 0.3s ease; /* Duración y tipo de animación ajustables */
  -webkit-transition: height 0.3s ease; /* Transición Webkit para navegadores compatibles */
}

#collapse {
  /* (A1) BACKGROUND IMAGE */
  background-image: url("https://imgs.search.brave.com/ia4txGV7EFUYkaw2vsk6zJfE8XyAoM9K7qgYhiMFA2A/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS8xMC83/L2hhOW5UVS5qcGc");
  background-size: cover;
  background-position: center;
 
  /* (A2) DIMENSIONS */
  max-width: 1000px; /* optional */
  height: 500px; /* fixed size required */
 
  /* (A3) CSS TRANSITION */
  transition: all 0.5s;
}

#collapse.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
}





.prueba{ 
  width:1400px;
  height:10px;
  background-image: url(https://hi-sports.tv/media/TodoEsPosible1.png);
  background-size: cover;
  backface-visibility: visible;
  animation: turner 20s infinite;
}
.one {
  background-position:0 0;
}
.one2 {
  background-position:0 -100%;
  animation-delay: .1s;
}
.one3 {
  background-position:0 -200%;
  animation-delay: .2s;
}
.one4 {
  background-position:0 -300%;
  animation-delay: .3s;
}
.one5 {
  background-position:0 -400%;
  animation-delay: .4s;
}
.one6 {
  background-position:0 -500%;
  animation-delay: .5s;
}
.one7 {
  background-position:0 -600%;
  animation-delay: .6s;
}
.one8 {
  background-position:0 -700%;
  animation-delay: .7s;
}
.one9 {
  background-position:0 -800%;
  animation-delay: .8s;
}
.one10 {
  background-position:0 -900%;
  animation-delay: .9s;
}
.one11 {
  background-position:0 -1000%;
  animation-delay: 1s;
}
.one12 {
  background-position:0 -1100%;
  animation-delay: 1.1s;
}
.one13 {
  background-position:0 -1200%;
  animation-delay: 1.2s;
}
.one14 {
  background-position:0 -1300%;
  animation-delay: 1.3s;
}
.one15{
  background-position:0 -1400%;
  animation-delay: 1.4s;
}
.one16{
  background-position:0 -1500%;
  animation-delay: 1.5s;
}
.one17{
  background-position:0 -1600%;
  animation-delay: 1.6s;
}
.one18{
  background-position:0 -1700%;
  animation-delay: 1.7s;
}
.one19{
  background-position:0 -1800%;
  animation-delay: 1.8s;
}
.one20{
  background-position:0 -1900%;
  animation-delay: 1.9s;
}
.one21{
  background-position:0 -2000%;
  animation-delay: 2s;
}
.one22{
  background-position:0 -2100%;
  animation-delay: 2.1s;
}
.one23{
  background-position:0 -2200%;
  animation-delay: 2.2s;
}
.one24{
  background-position:0 -2300%;
  animation-delay: 2.3s;
}
.one25{
  background-position:0 -2400%;
  animation-delay: 2.4s;
}
.one26{
  background-position:0 -2500%;
  animation-delay: 2.5s;
}
.one27{
  background-position:0 -2600%;
  animation-delay: 2.6s;
}
.one28{
  background-position:0 -2700%;
  animation-delay: 2.7s;
}
.one29{
  background-position:0 -2800%;
  animation-delay: 2.8s;
}
.one30{
  background-position:0 -2900%;
  animation-delay: 2.9s;
}
.one31{
  background-position:0 -3000%;
  animation-delay: 3s;
}
.one32{
  background-position:0 -3100%;
  animation-delay: 3.1s;
}
.one32{
  background-position:0 -3100%;
  animation-delay: 3.1s;
}
.one33{
  background-position:0 -3200%;
  animation-delay: 3.2s;
}
.one34{
  background-position:0 -3300%;
  animation-delay: 3.3s;
}
.one35{
  background-position:0 -3400%;
  animation-delay: 3.4s;
}
.one36{
  background-position:0 -3500%;
  animation-delay: 3.5s;
}
.one37{
  background-position:0 -3600%;
  animation-delay: 3.6s;
}
.one38{
  background-position:0 -3700%;
  animation-delay: 3.7s;
}



.icon-container:hover {
  border-radius: 10px;
  padding: 5px 10px;
  background-color:rgba(245, 198, 255, 0.136);
  transform: scale(1.2);
  color: #fff; 
 
}
.icon-container {
  transition: all 0.3s ease; 
}